/*
COLORS:
Medium gray: #687864, Teal blue: #31708e, Medium blue: #5085a5, Pale cerulean: #8fc1e3, Light gray: #f7f9fb

ALTERNATIVE PALETTE:
#dbc3d0, #5e0231, #c7a693, #856046 
*/

$color-primary: #31708e;
$color-primary-light: #8fc1e3;
$color-primary-medium: #5085a5;
$color-light: #ffffff;
$color-dark: #000000;

